In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('/home/deadpool/Templates/study/ml/csv/PlayTennis.csv', index_col='Day')
df

      Outlook Temperature Humidity    Wind PlayTennis
Day
1       Sunny         Hot     High    Weak         No
2       Sunny         Hot     High  Strong         No
3    Overcast         Hot     High    Weak        Yes
4        Rain        Mild     High    Weak        Yes
5        Rain        Cool   Normal    Weak        Yes
6        Rain        Cool   Normal  Strong         No
7    Overcast        Cool   Normal  Strong        Yes
8       Sunny        Mild     High    Weak         No
9       Sunny        Cool   Normal    Weak        Yes
10       Rain        Mild   Normal    Weak        Yes
11      Sunny        Mild   Normal  Strong        Yes
12   Overcast        Mild     High  Strong        Yes
13   Overcast         Hot   Normal    Weak        Yes
14       Rain        Mild     High  Strong         No

In [4]:
new_df = df.drop('PlayTennis', axis='columns')
new_df

      Outlook Temperature Humidity    Wind
Day
1       Sunny         Hot     High    Weak
2       Sunny         Hot     High  Strong
3    Overcast         Hot     High    Weak
4        Rain        Mild     High    Weak
5        Rain        Cool   Normal    Weak
6        Rain        Cool   Normal  Strong
7    Overcast        Cool   Normal  Strong
8       Sunny        Mild     High    Weak
9       Sunny        Cool   Normal    Weak
10       Rain        Mild   Normal    Weak
11      Sunny        Mild   Normal  Strong
12   Overcast        Mild     High  Strong
13   Overcast         Hot   Normal    Weak
14       Rain        Mild     High  Strong

In [5]:
lendco_outlook = LabelEncoder()
lendco_Temperature = LabelEncoder()
lendco_Humidity = LabelEncoder()
lendco_Wind = LabelEncoder()
lendco_PlayTennis = LabelEncoder()

In [6]:
df['Outlook'] = lendco_outlook.fit_transform(df.Outlook)
df['Temperature'] = lendco_Temperature.fit_transform(df.Temperature)
df['Humidity'] = lendco_Humidity.fit_transform(df.Humidity)
df['Wind'] = lendco_Wind.fit_transform(df.Wind)
df['PlayTennis'] = lendco_PlayTennis.fit_transform(df.PlayTennis)
new_df = df.drop('PlayTennis', axis='columns')
new_df

     Outlook  Temperature  Humidity  Wind
Day
1          2            1         0     1
2          2            1         0     0
3          0            1         0     1
4          1            2         0     1
5          1            0         1     1
6          1            0         1     0
7          0            0         1     0
8          2            2         0     1
9          2            0         1     1
10         1            2         1     1
11         2            2         1     0
12         0            2         0     0
13         0            1         1     1
14         1            2         0     0

In [7]:
df

     Outlook  Temperature  Humidity  Wind  PlayTennis
Day
1          2            1         0     1           0
2          2            1         0     0           0
3          0            1         0     1           1
4          1            2         0     1           1
5          1            0         1     1           1
6          1            0         1     0           0
7          0            0         1     0           1
8          2            2         0     1           0
9          2            0         1     1           1
10         1            2         1     1           1
11         2            2         1     0           1
12         0            2         0     0           1
13         0            1         1     1           1
14         1            2         0     0           0

In [8]:
model = LinearRegression()

In [9]:
model.fit(new_df, df.PlayTennis)

LinearRegression()

In [16]:
model.predict([[0, 2, 0, 0]]) #outlook, temp, hum, wind

array([0.66945448])

In [17]:
# Outlook = input('enter the Outlook code 0/1')
# Temperature = int(input('enter the Outlook code 0/1'))
# Humidity = int(input('enter the Outlook code 0/1'))
# Wind = int(input('enter the Outlook code 0/1'))
# res = model.predict([[Outlook, Temperature, Humidity, Wind]])
# print(f'Note: here the your ans. is below the 0.5 its means "no"\n\tand\n here the ans is above 0.5 its means "yes"')
# print(f'here the ans {res}')