In [29]:
# https://youtu.be/ZllfSGxdMS0?list=PLPbgcxheSpE0aBsefANDYe2X_-tyJbBMr
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib

Using matplotlib backend: Qt5Agg

In [30]:
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/7_logistic_reg/insurance_data.csv')
df

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [31]:
# plt.bar(df.age, df.bought_insurance)

In [32]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df[['age']], df.bought_insurance, test_size = 0.1) #10% testing

In [33]:
len(x_train)

24

In [34]:
len(x_test)

3

In [35]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [36]:
model.fit(x_train, y_train)

LogisticRegression()

In [37]:
x_test

    age
10   18
14   49
12   27

In [38]:
model.predict(x_test)

array([0, 1, 0])

In [39]:
model.predict([[8]]) #pass the year
# 0 means No
# 1 means yes

array([0])

In [41]:
# predict.prob
model.predict_proba(x_test)

array([[0.9300913 , 0.0699087 ],
       [0.21608627, 0.78391373],
       [0.81192927, 0.18807073]])

In [42]:
model.score(x_test, y_test)

1.0